name: Node.js CI
'on':
  push:
    branches:
      - master
      - alpha
      - beta
      - 'renovate/**'
  pull_request:
    types:
      - opened
      - synchronize
env:
  FORCE_COLOR: 1
  NPM_CONFIG_COLOR: always
jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Read .nvmrc
        run: 'echo ::set-output name=NVMRC::$(cat .nvmrc)'
        id: nvm
      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'
      - uses: bahmutov/npm-install@3e063b974f0d209807684aa23e534b3dde517fd9 # v1.11.2
      - run: npm test
  release:
    needs: verify
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Read .nvmrc
        run: 'echo ::set-output name=NVMRC::$(cat .nvmrc)'
        id: nvm
      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'
      - uses: bahmutov/npm-install@3e063b974f0d209807684aa23e534b3dde517fd9 # v1.11.2
      - name: semantic-release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          NPM_TOKEN: '${{ secrets.NPM_PUBLISH_TOKEN }}'
